
.toolbar {
    display: flex;
    height: 25px;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: #ededed !important;
    border-bottom-width: 0px;
}
.toolbar button {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: unset;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}




    .toolbar button:hover {
        border-color: #66bdf7;
    }
